@import "_reset";

.design{
  background-color: #fff;
  width: 1560px;
  padding: 60px 50px;
  >p{
    font-size: 30px;
    font-family: 'SBAggroB';
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
  }
  >ul{
    padding:30px 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    >li{
      border: 1px solid #ddd;
      border-radius: 20px;
      width: 290px;
      height: 200px;
      >a{
        font-size: 20px;
        color: #555;
        // padding: 30px;
        display: inline-block;
      }
    }
  }
}